[Unit]
Description=celery beat daemon for FoodScale
After=network.target

[Service]
User=root
Group=www-data
Restart=always
RestartSec=3
StartLimitIntervalSec=0
WorkingDirectory=/root/FoodScale/
ExecStart= /root/FoodScale/env/bin/celery -A FoodScale beat -l info


[Install]
WantedBy=multi-user.target
