{% extends 'base.html' %}

{% load static %}
{% load i18n %}


{% block container %}

<div class="container">
    <p>&nbsp;</p>
    <div class="row d-flex justify-content-center">
        <div class="px-5 my-2 text-center col-12 col-md-5">
            <img class="img-fluid" src="{% static 'site/logos/CompanyLogoLoginout.png' %}" /> 
            <!-- <h1 class="display-1" style="color:#D6FB0F;">Let's go electric</h1> -->
        </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="px-5 my-5 text-center col-12 col-md-8">
        <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          {% if form.errors %}
          <div class="alert alert-warning fade show" role="alert">
              Your <strong>username</strong> and <strong>password</strong> did not match
          </div>
          {% endif %}
          
          <div class="form-group">
            <label for="id_username">{% trans "Email" %}</label>
            <input type="text" name="username" autocomplete="username" required class="form-control" id="id_username" aria-describedby="usernameHelp" placeholder="Enter your email">
            <!-- <small id="usernameHelp" class="form-text text-muted">We'll never share your username with anyone else.</small> -->
          </div>
          <div class="form-group">
            <label for="id_password">Password</label>
            <input type="password" name="password" autocomplete="current-password" required class="form-control" id="id_password" placeholder="Password">
          </div>
          <input type="hidden" name="next" value="{{ next }}">
          <button type="submit" class="btn btn-primary col-12 mt-2">Log-in</button>
        </form>
      </div>
    </div>
</div>

{% endblock container %}
