<!DOCTYPE html>
<html>
    {% load static %}
    {% load i18n %}
    <head>
		
		<!-- <title>{% block title %}{% include "_brandname.html" %}{% endblock %}</title>
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <script src="{% static 'js/jquery.js' %}"></script>	
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->
	</head>
    <body>
        <br>
        <div style="width: 100%;">
            <div style="width: 25%;"></div>
            <div style="width: 50%; text-align: center;">
                <img src="{{ image }}"/> 
            </div>
            <div style="width: 25%;"></div>
        </div>

        <h2>{{ heading }}</h2>
        <div style="width: 100%;">
            <div style="width: 25%;"></div>
            <div style="width: 50%;">
                <h4>Personal details</h4>
                <p>Username: {{ username }}</p>
                <p>Confirm: {{ link }}</p>
            </div>
            <div style="width: 25%;"></div>
        </div>
        <p style="font-size: 8;">Do not respond to this email, it is an unsupervised account.</p>
    </body>
</html>