{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}


{% block container %}

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="px-2 my-5 text-center col-3">
      <a type="button" class="btn btn-primary" href="{% url 'FoodAPP_calculator' dayOffset=dayOffset|add:'-1' %}">
          <i class="fas fa-angle-left"></i>
      </a>
    </div>
    <div class="px-2 my-5 text-center col-6">
      <h3>{{ day }}</h3>
    </div>
    <div class="px-2 my-5 text-center col-3">
      <a type="button" class="btn btn-primary" href="{% url 'FoodAPP_calculator' dayOffset=dayOffset|add:'1' %}">
          <i class="fas fa-angle-right"></i>
      </a>
    </div>
  </div>

    <div class="d-flex justify-content-center">
      <button class="btn btn-primary" title="{% trans "Añade un ingrediente" %}" hx-get="{% url 'FoodAPP_addIngredient' dayOffset=dayOffset %}" hx-target="#dialog" >
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-fork-knife" viewBox="0 0 16 16">
          <path d="M13 .5c0-.276-.226-.506-.498-.465-1.703.257-2.94 2.012-3 8.462a.5.5 0 0 0 .498.5c.56.01 1 .13 1 1.003v5.5a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5zM4.25 0a.25.25 0 0 1 .25.25v5.122a.128.128 0 0 0 .256.006l.233-5.14A.25.25 0 0 1 5.24 0h.522a.25.25 0 0 1 .25.238l.233 5.14a.128.128 0 0 0 .256-.006V.25A.25.25 0 0 1 6.75 0h.29a.5.5 0 0 1 .498.458l.423 5.07a1.69 1.69 0 0 1-1.059 1.711l-.053.022a.92.92 0 0 0-.58.884L6.47 15a.971.971 0 1 1-1.942 0l.202-6.855a.92.92 0 0 0-.58-.884l-.053-.022a1.69 1.69 0 0 1-1.059-1.712L3.462.458A.5.5 0 0 1 3.96 0z"/>
        </svg>
      </button>
      &nbsp;
      <button class="btn btn-primary" title="{% trans "Registra tu peso" %}" hx-get="{% url 'UsersAPP_addWeight' dayOffset=dayOffset %}" hx-target="#dialog" >
        
        <svg width="64" height="64" viewBox="0 0 90 78" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M35.2672 12.7414L19.9942 10.1752C16.3347 9.56029 13 12.3814 13 16.0922V65C13 68.3137 15.6863 71 19 71H70C73.3137 71 76 68.3137 76 65V16.0643C76 12.3629 72.6814 9.54432 69.0288 10.1434L53.1897 12.7414" stroke="currentColor" stroke-width="6"/>
        <path d="M44.4573 8.5C50.8417 8.5 55.9747 13.5827 55.9749 19.7998C55.9749 26.017 50.8418 31.0996 44.4573 31.0996C38.0729 31.0994 32.9407 26.0168 32.9407 19.7998C32.9408 13.5829 38.073 8.50018 44.4573 8.5Z" stroke="currentColor" stroke-width="3"/>
        <path d="M44.4581 18.1666C45.3878 18.1669 46.127 18.9064 46.127 19.8004C46.1267 20.6942 45.3877 21.433 44.4581 21.4332C43.5282 21.4332 42.7884 20.6944 42.7881 19.8004C42.7881 18.9062 43.5281 18.1666 44.4581 18.1666Z" stroke="currentColor"/>
        <line x1="0.5" y1="-0.5" x2="4.064" y2="-0.5" transform="matrix(0.713024 -0.70114 0.713024 0.70114 46 19.2)" stroke="currentColor" stroke-linecap="round"/>
        </svg>
      </button>
    </div>
    
    &nbsp;

    <div class="row d-flex justify-content-center">
      <div class="w-100 d-none d-md-block"></div>
      <h5>{% trans "Ingesta total" %}</h5>    
      <table class="table">
        <thead>
          <tr>
            <th>{% trans "Tipo de comida" %}</th>
            <th>{% trans "Descripcion" %}</th>
            <th>{% trans "Cantidad" %}</th>
          </tr>
        </thead>

        <!-- load ingredients list with HTMX -->
        <tbody hx-trigger="load, ingredientListChanged from:body" hx-get="{% url 'FoodAPP_viewDayMeals' dayOffset=dayOffset %}" hx-target="this">
          <tr>
            <td class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </td>
          </tr>
        </tbody>

      </table>
    </div>

    &nbsp;
    <div class="row d-flex justify-content-center">
      <div class="w-100 d-none d-md-block"></div>
      <div class="col-12 col-md-6">
        <h5>{% trans "Desglose de nutrientes" %}</h5>
        <table class="table">
          <thead>
            <tr>
              <th>{% trans "Tipo de nutriente" %}</th>
              <th>{% trans "Cantidad" %}</th>
            </tr>
          </thead>

          <!-- load nutrition parameters list with HTMX -->
          <tbody hx-trigger="load, ingredientListChanged from:body" hx-get="{% url 'FoodAPP_viewDayNutrients' dayOffset=dayOffset %}" hx-target="this">
            <tr>
              <td class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 col-md-6">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="graph1-tab" data-bs-toggle="tab" data-bs-target="#graph1" type="button" role="tab" aria-controls="graph1" aria-selected="true">{% trans "Macronutrientes" %}</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="graph2-tab" data-bs-toggle="tab" data-bs-target="#graph2" type="button" role="tab" aria-controls="graph2" aria-selected="false">{% trans "Grasas" %}</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="graph1" role="tabpanel" aria-labelledby="graph1-tab"
          hx-trigger="load, ingredientListChanged from:body" hx-get="{% url 'FoodAPP_graphDayNutrients' dayOffset=dayOffset %}" hx-target="this">
            <div class="spinner-border" role="status" >
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div class="tab-pane fade" id="graph2" role="tabpanel" aria-labelledby="graph2-tab">
            <table class="table">
              <thead>
                <tr>
                  <th>{% trans "Tipo de grasa" %}</th>
                  <th>{% trans "Cantidad" %}</th>
                </tr>
              </thead>

              <!-- load nutrition parameters list with HTMX -->
              <tbody hx-trigger="load, ingredientListChanged from:body" hx-get="{% url 'FoodAPP_tableDayFat' dayOffset=dayOffset %}" hx-target="this">
                <tr>
                  <td class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <h5></h5>
        <div >
            
        </div>
      </div>
    </div>
  </div>

  <!-- Placeholder for the modal -->
  <div id="modal" class="modal fade">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
  </div>

  

  
  <script>
    ; (function () {
      const modal = new bootstrap.Modal(document.getElementById("modal"))

      htmx.on("htmx:afterSwap", (e) => {
        // Response targeting #dialog => show the modal
        if (e.detail.target.id == "dialog") {
          modal.show()
        }
      })

      htmx.on("htmx:beforeSwap", (e) => {
        // Empty response targeting #dialog => hide the modal
        if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
          modal.hide()
          e.detail.shouldSwap = false
        }
      })

      // Remove dialog content after hiding
      htmx.on("hidden.bs.modal", () => {
        document.getElementById("dialog").innerHTML = ""
      })
    })()
  </script>
  <script>
      ; (function () {
        const toastElement = document.getElementById("toast")
        const toastBody = document.getElementById("toast-body")
        const toast = new bootstrap.Toast(toastElement, { delay: 2000 })

        htmx.on("showMessage", (e) => {
          toastBody.innerText = e.detail.value
          toast.show()
        })
      })()
  </script>
</div>
{% endblock container %}