{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

<ul class="list-group">
{% for ingredient in ingredients %}
    <a class="list-group-item" onclick="selectIngredient('{{ ingredient.name }}')" cursor='pointer';>
        {{ ingredient.name }}
    </a>
{% empty %}
    <li class="list-group-item">{% trans "Sin resultados" %}</li>
{% endfor %}
</ul>

<script>
function selectIngredient(name) {
    document.getElementById("id_ingredientInput").value = name;
    document.getElementById("ingredient-results").innerHTML = "";
}
</script>