{% load crispy_forms_tags %}

<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contáctanos</h2>
            <h3 class="section-subheading text-muted">No dudes en escribirnos cualquier duda que tengas. Te contestaremos a la mayor brevedad posible.</h3>
        </div>

        <form method="post" enctype="multipart/form-data" action="{% url 'contactForm' %}">
            {% crispy contactForm %}
        </form>
    </div>
    <script>
    function onClick(e) {
        e.preventDefault();
        grecaptcha.enterprise.ready(async () => {
        const token = await grecaptcha.enterprise.execute('6Lfas3IrAAAAAFocwk6siWQEVSpzj_lLmmRzKGrF', {action: 'LOGIN'});
        });
    }
    </script>
</section>